### /Users/djensen/.gitignore-boilerplates/Global/OSX.gitignore

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


### /Users/djensen/.gitignore-boilerplates/Global/MonoDevelop.gitignore

#User Specific
*.userprefs
*.usertasks

#Mono Project Files
*.pidb
*.resources
test-results/

# File lists
ExsurgentEngineering.csproj.*.txt

# Project user subfile
ExsurgentEngineering.csproj.user

# VS2013 solution subfile
ExsurgentEngineering.v12.suo

# Build Cache
ExsurgentEngineering/obj/*/*.cache
